<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>IMPRes</title>

	<!-- Bootstrap core CSS -->
	<!--<link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<!-- Custom styles for this template -->
	<link href="/imp_css/jumbotron.css" rel="stylesheet">
	<!--<link href="mycss.css" rel="stylesheet">-->
</head>

<style stype="text/css">
	html,
	body {
		background: #e9ecef;
		width: 100%;
	}

	.slideShine {
		background: #000 -webkit-linear-gradient(left, #000, #fff 50%, #fff 90%, #000) no-repeat 0 0;
		background-size: 20% 100%;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		/* font-size: 36px;
     text-align: center;
     font-weight: bold; */
		text-decoration: underline;
	}

	.slideShine {
		-webkit-animation: slideShine 4s linear infinite;
		animation: slideShine 4s linear infinite;
	}

	@-webkit-keyframes slideShine {
		0% {
			background-position: 0 0;
		}
		100% {
			background-position: 100% 100%;
		}
	}

	@keyframes slideShine {
		0% {
			background-position: 0 0;
		}
		100% {
			background-position: 100% 100%;
		}
	}
</style>

<body>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

		<a class="navbar-brand" href="/impres">HOME</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse flex-row-reverse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/impres/info">Info</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/impres/job">New Job</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/impres/tutorial">Tutorial</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/impres/tool">Tools</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container mt-3">
		<h1 class="display-1 d-flex justify-content-center pt-3"> 404 </h1>
		<h1 class="display-3 d-flex justify-content-center"> Sorry </h1>
		<h1 class="display-4 d-flex justify-content-center"> The page you requested was not found... </h1>
	</div>
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>