<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMPRes</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
        integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/imp_css/jumbotron.css" rel="stylesheet">
    <!--<link href="mycss.css" rel="stylesheet">-->
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

        <a class="navbar-brand" href="/impres">HOME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse flex-row-reverse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/impres/info">Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/impres/job">New Job</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/impres/tutorial">Tutorial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/impres/tool">Tools</a>
                </li>
            </ul>
        </div>
    </nav>

    
</body>

</html>